body{
    background-image:url('background.jpeg');
}

.loginForm{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding:10px 10px 10px 10px;
}

.loginForm label{
    float:right;
    color: #777777;
    font-family: "museo-1","museo-2";
    width:100px;
    text-align: right;
}

.loginForm select{
    width:150px;
}

.textInput{
    width:150px;
}

.submitInput{
    width:205px;
    height:45px;
}

#errormessage{
    font-family: sans-serif;
    font-size: 11pt;
    color:red;
    text-align: center;
}

.outer {
    width: 100%;
}

.inner {
    width: 50%;
    margin: 0px auto;
}

.inner h1{
    text-align: center;
    font-family: "museo-1","museo-2";
    color: white;
    font-size: 40pt;
}

.list{
    width: 100%;
    margin: 10px;
    color: #777777;
    font-family: "museo-1","museo-2";
    text-align: center;
}

.list tr{
    background: rgba(255, 255, 255, 0.1);
    height:35px;
}

.list tr:hover{
    background: rgba(255, 255, 255, 0.6);
}

.list td{
    width:25%;
}

.delete a{
    color:#777777;
    text-decoration: none;
}

.delete a:hover{
    color:white;
    text-decoration: underline;
}

.delete:hover{
    background-color: rgba(131, 0, 5, 0.71);
    color:white;
    text-decoration: none;
}

.delete:hover a{
    color:white;
}